body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.item {
    padding-top: 20px;
    padding-bottom: 20px;
}

.accordion-group {
    border-style: None;
}

.admin_campaign {
    background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin: 0 15px 0 0;
}

.admin_campaign_title {
    background-color: #e6e5e5;
    border: 1px solid #E3E3E3;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin: 15px 15px 0 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */





.masthead {
}



.masthead .banner-bg {
    color: #FFFFFF;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -khtml-border-radius: 15px;
    -webkit-border-radius: 15px;
    background-size: 100%;
}

.masthead .banner-bg h1 {
    margin: 0;
}

.masthead .banner {
    border-radius: 15px;
    -moz-border-radius: 15px;
    -khtml-border-radius: 15px;
    -webkit-border-radius: 15px;
    padding: 15px;
}

.masthead .banner-opaq {
    background-color: rgba(0,0,0,.75);
}

.masthead .banner .info, .masthead .banner .info ul li{
    font-size: 18px;
    line-height: 36px;
    margin-top: 20px;
    margin: 15px;
}


.campaigns .campaign {
    width: 300px;
    margin: 0 15px 15px 0;
    float: left;
    background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
}

.campaigns .campaign .title {
    padding: 15px;
    font-size: 20px;
    line-height: 24px;
}
.campaigns .campaign .title a {
    height: 70px;
    word-wrap: break-word;
    display: block;
}

.campaigns .campaign .tail {
    padding: 0 10px 10px 10px;
}

.centre, .center {
    text-align: center;
}
.right {
    text-align: right;
}

.logo,
.logo:hover {
  float: left;
  display: block;
  font-size: 36px;
  padding-left: 73px;
  color: #333;
  text-decoration: none !important;
  height: 67px;
  line-height: 36px;
  font-family: "GehenSans";
  background: url(../img/logo.png) no-repeat;
  background-size: 67px;
  font-weight: normal;
  margin-right: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.logo-bold-blue {
  font-weight: bold;
  color: #0073ae;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.logo-australia {
  display: block;
  font-size: .65em;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@font-face {
    font-family: 'GehenSans';
    src: url('../fonts/gehensans-regular-webfont.eot');
    src: url('../fonts/gehensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gehensans-regular-webfont.woff') format('woff'),
         url('../fonts/gehensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/gehensans-regular-webfont.svg#GehenSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GehenSans';
    src: url('../fonts/gehensans-bold-webfont.eot');
    src: url('../fonts/gehensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gehensans-bold-webfont.woff') format('woff'),
         url('../fonts/gehensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/gehensans-bold-webfont.svg#GehenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;

}

.candidate-images img {
	margin-top: 15px;
}

.candidate-images li {
    -moz-box-sizing: border-box;
    display: block;
    float: left;
    margin-left: 0 !important;
    margin-right: 1.8% !important;
    min-height: 30px;
    width: 99%;
}

.candidate-images img {
	margin-top: 15px;
}

.container-fluid {
	padding: 0;
}
