{% extends "admin_base.html" %}

{% block title %}Bounty - Admin{% end %}

{% block admin_body %}

    <div class="span6">
        <h3>Recently launched Fundraisers</h3>
        {% for fundraiser in recent %}
        <div class="row ">
            <div class="admin_campaign_title">
                <h4><a href="/admin/fundraiser/{{fundraiser['slug']}}">{{ fundraiser['title'] }}</a></h4>
            </div>
            <div class="admin_campaign">
                <p><a class="btn btn-info" href="/fundraiser/{{ fundraiser['slug'] }}/edit">Edit</a><a class="btn btn-danger pull-right" href="/fundraiser/{{ fundraiser['slug'] }}/delete"> Delete</a></p>
                <p>Goal: ${{ '{:.2f}'.format(fundraiser['goal']) }}{% if 'current_funding' in  fundraiser %} | Current Funding: ${{ '{:.2f}'.format(fundraiser['current_funding']) }} {% end %}</p>
                <p>{% if 'deadline' in fundraiser %}Deadline: {{ fundraiser['deadline'] }}{% end %}</p>
            </div>
        </div>
        {% end %}
        <div class="row">
            <a class="btn btn-info" href="/fundraiser/create">Create New</a>
        </div>
        <div class="row">
            {% module Paginator(page, page_size, total) %}
        </div>
        <h3>Users</h3>
        {% for user in users %}
        <div class="row">
            <strong>{{ user['username'] }}</strong> | <a href="/admin/user/{{ user['username'] }}">Edit</a>
        </div>
        {% end %}
    </div>

{% end %}