{% extends "admin_base.html" %}

{% block title %}{{ backer['user'] }} - Bounty Admin{% end %}

{% block admin_body %}
    <div class="span6">
        <div class="row">
            <h3>{{ backer['user'] }}</h3>
            <p class="muted">Display Name: {{ backer['display_name'] }}</p>
            <p class="muted">ID: {{ backer['_id'] }}</p>
        </div>
        <div class="row">
            <p>Backed Fundraiser: <a href="/admin/fundraiser/{{fundraiser['slug']}}">{{ fundraiser['title'] }}</a></p>
        </div>
        <div class="row">
            <p><strong style="text-decoration: underline">Billing Address</strong></p>
            <address>
                <strong>{{ backer['user'] }}</strong><br>
                {{ backer['address_line1'] }}<br>
                {% if backer['address_line2'] %}
                {{ backer['address_line2'] }}<br>
                {% end %}
                {{ backer['city'] }} {{ backer['state'] }} {{ backer['postcode'] }}<br>
            </address>
            <address>
                <strong style="text-decoration: underline">Email</strong><br>
                <a href="mailto:{{ backer['email'] }}">{{ backer['email'] }}</a>
            </address>
        </div>
        <div class="row">
            {% if 'amount' in backer %}
            <p><strong>Donation Amount</strong>: ${{ '{:.2f}'.format(backer['amount']) }}</p>
            {% end %}
            {% if 'created_at' in backer %}
            <p><strong>Created at:</strong>: {{ backer['created_at'] }}</p>
            {% end %}
            {% if 'charged_when' in backer %}
            <p><strong>Charged at:</strong>: {{ backer['charged_when'] }}</p>
            {% end %}
            {% if 'ip_address' in backer %}
            <p><strong>Recorded IP</strong>: {{ backer['ip_address'] }}</p>
            {% end %}
            {% if 'status_message' in backer %}
            <p><strong>Status Message:</strong>: {{ backer['status_message'] }}</p>
            {% end %}
            {% if 'error_message' in backer %}
            <div class="alert alert-error">
                <strong>Error Message:</strong>: {{ backer['error_message'] }}
            </div>
            {% end %}
            <table class="table table-striped">
                <thead>
                    <tr colspan="3">
                        <th>Message Log</th>
                    </tr>
                    <tr>
                      <th>Date</th>
                      <th>Status</th>
                      <th>Message</th>
                      <th>Staff</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in backer['messages'] %}
                    <tr>
                        <td>i['date']</td>
                        <td>i['status']</td>
                        <td>i['message']</td>
                        <td>i['staff']</td>
                    </tr>
                    {% end %}
                </tbody>
            </table>

            <p><strong>Message to backer:</strong></p>
            <select name='status' class="input-small" required>
                <option value="">Status</option>
                <option>Shipped</option>
                <option></option>
            </select>
            <textarea class="span5" rows="8" name='message'></textarea>
        </div>
        <div class="row">
        <p><a class="btn btn-primary" href=""> Save</a></p>
        </div>
    </div>
{% end %}
