{% extends "../base.html" %}

{% block title %}{{ fundraiser['title'] }} - Bounty Admin{% end %}

{% block body %}
<div class="row">
    <div class="span7 offset2">
        <div class="row">
            <div class="span7">
            <h3>{{ fundraiser['title'] }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="span3">
                <strong>Launched</strong>: {{ fundraiser['launched'] }}
            </div>
            <div class="span3">
                <strong>Deadline</strong>: {{ fundraiser['deadline'] }}
            </div>
        </div>
        <div class="row">
            <div class="span3">
                {% if fundraiser['type'] == 'Petition' %}
                <strong>Goal</strong>: {{ int(fundraiser['goal']) }} signatures
                {% else %}
                <strong>Goal</strong>: ${{ '{:.2f}'.format(fundraiser['goal']) }}
                {% end %}
            </div>
            {% if fundraiser['type'] != 'Petition' %}
            <div class="span3">
                <strong>Current Funding</strong>: ${{ '{:.2f}'.format(fundraiser['current_funding']) }}
            </div>
            {% end %}
        </div>
        <div class="row">
            <div class="span7">
                <strong>Description</strong>
                <p>{{ fundraiser['description'] }}</p>
            </div>
        </div>
        <div class="row">
            <div class="span7">
                <strong>Current backers</strong>: {{ fundraiser['backers_count'] }}
            </div>
        </div>
        <div class="row">
            <div class="span7">
                <table class="table table-striped">
                    <thead>
                        <tr>
                          <th>#</th>
                          <th>Username</th>
                          <th>IP</th>
                          {% if fundraiser['type'] != 'Petition' %}
                          <th>Amount</th>
                          {% end %}
                          <th>Created at</th>
                          <th>Status</th>
                          <th>Message</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i, backer in enumerate(fundraiser_backers) %}
                    <tr {% if 'error_message' in backer %}class="error"{% end %}>
                      <td>{{ i }}</td>
                      <td>{{ backer['user'] }}</td>
                      <td>{{ backer['ip_address'] }}</td>
                      {% if fundraiser['type'] != 'Petition' %}
                      <td>${{ backer['amount'] }}</td>
                      {% end %}
                      <td>{{ backer['created_at'] }}</td>
                      <td>{{ backer['status'] }}</td>
                      {% if 'status_message' in backer or 'error_message' in backer %}
                        {% if 'status_message' in backer %}
                            <td>{{ backer['status_message'] }}</td>
                        {% end %}
                        {% if 'error_message' in backer %}
                            <td>{{ backer['error_message'] }}</td>
                        {% end %}
                      {% end %}
                    </tr>
                    {% end %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% end %}