{% extends "../base.html" %}

{% block title %}{{ user['username'] }} - Bounty Admin{% end %}

{% block body %}
<div class="row">
    <div class="span7 offset2">
        <div class="row">
            <div class="span7">
            <h3>{{ user['username'] }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="span3">
                <strong>Joined</strong>: {{ user['created_at'] }}
            </div>
            <div class="span3">
                <strong>Rank</strong>: {{ user['rank'] }}
            </div>
        </div>
        {% if backed %}
            {% for item in backed %}
                {% if item['fundraiser'] in backed_fundraisers %}
            <div class="row">
                <div class="span7">
                    <a href="/admin/fundraiser/{{ backed_fundraisers[item['fundraiser']]['slug'] }}"><strong>{{ backed_fundraisers[item['fundraiser']]['title'] }}</strong></a>
                </div>
            </div>
            <div class="row">
                <div class="span3">
                    <strong>Amount</strong>: ${{ item['amount'] }}
                </div>
                <div class="span3">
                    <strong>When</strong>: {{ item['created_at'] }}
                </div>
            </div>
            <div class="row">
                <div class="span3">
                    <strong>Status</strong>: {{ item['status'] }}
                </div>
            </div>
                {% end %}
            {% end %}
        {% end %}
    </div>
</div>
{% end %}