{% extends "../base.html" %}

{% block title %}{{ fundraiser['title'] }} - Bounty{% end %}
{% block extra_js %}<script src='https://test-api.pin.net.au/pin.js' type='text/javascript'></script>
<script type="text/javascript" src="{{ static_url("js/vendor/pin_submit.js") }}"></script>{% end %}

{% block body %}
<div class="row">
    <div class="span6 offset2">
        <h2>Back {{ fundraiser['title'] }}</h2>
    </div>
</div>
<div class="row">
    <div class="span6 offset2">
        <div class='pin-errors' style='display:none'>
            <h3></h3>
            <ul></ul>
        </div>
    </div>
</div>
<form action='' class='pin' method='post'>
    {% module xsrf_form_html() %}
    <div class="row">
        <div class="span3 offset2">
            <label>How much?</label>
            <div class='input-prepend'>
                <span class='add-on'>$</span>
                <input type='number' name='amount' required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span3 offset2">
          <fieldset>
            <legend>Billing</legend>
            <!--
              The lack of 'name' attributes on these inputs prevents
              the browser from submitting them to your server
            -->
            <label for='address-line1'>Address 1</label>
            <input id='address-line1' required/>
            <label for='address-line2'>Address 2</label>
            <input id='address-line2' required/>
            <label for='address-city'>City</label>
            <input id='address-city' required/>
            <label for='address-state'>State</label>
            <input id='address-state' required/>
            <label for='address-postcode'>Postcode</label>
            <input id='address-postcode' required/>
            <label for='address-country'>Country</label>
            <input id='address-country' required/>
          </fieldset>
        </div>
        <div class="span3 offset2">
          <fieldset>
            <legend>Payment</legend>
            <!--
              The lack of 'name' attributes on these inputs prevents
              the browser from submitting them to your server
            -->
            <label for='cc-number'>Credit Card Number</label>
            <div class='control-group'>
              <div class='controls'>
                <input type='text' id='cc-number' required>
                <span id='cc-number-error' class='help-inline' style='display:none'>Please correct the error</span>
              </div>
            </div>
            <label for='cc-name'>Name on Card</label>
            <div class='control-group'>
              <div class='controls'>
                <input type='text' id='cc-name' required>
                <span id='cc-name-error' class='help-inline' style='display:none'>Please correct the error</span>
              </div>
            </div>
            <label for='cc-expiry-month'>Expiry Month</label>
            <div class='control-group'>
              <div class='controls'>
                <input type='text' id='cc-expiry-month' required>
                <span id='cc-month-error' class='help-inline' style='display:none'>Please correct the error</span>
              </div>
            </div>
            <label for='cc-expiry-year'>Expiry Year</label>
            <div class='control-group'>
              <div class='controls'>
                <input type='text' id='cc-expiry-year' required>
                <span id='cc-year-error' class='help-inline' style='display:none'>Please correct the error</span>
              </div>
            </div>
            <label for='cc-cvc'>CVC</label>
            <input id='cc-cvc' required/>
          </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="span3 offset5">
              <input type='submit' value='Pay now' />
        </div>
    </div>
</form>
{% end %}