<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Bounty{% end %}</title>
    <link rel="stylesheet" href="{{ static_url("css/vendor/bootstrap.min.css") }}" type="text/css">
    <link rel="stylesheet" href="{{ static_url("css/vendor/bootstrap-datetimepicker.min.css") }}" type="text/css">
    <script type="text/javascript" src="{{ static_url("js/vendor/jquery-1.9.1.min.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/vendor/bootstrap.min.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/vendor/bootstrap-datetimepicker.min.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/bounty.js") }}"></script>
    {% block extra_js %}
    {% end %}
  </head>
  <body>
    <div class="container">
    {% block body %}
    {% end %}
    </div>
  </body>
</html>