<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Bounty{% end %}</title>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="{{ static_url("css/bootstrap.min.css") }}" type="text/css">
    <link rel="stylesheet" href="{{ static_url("css/bootstrap-responsive.min.css") }}" type="text/css">
    <link rel="stylesheet" href="{{ static_url("css/bootstrap-datetimepicker.min.css") }}" type="text/css">
    <link rel="stylesheet" href="{{ static_url("css/bounty.css") }}" type="text/css">
    <link rel='shortcut icon' type='image/x-icon' href='{{ static_url("img/favicon.ico") }}' />
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Bounty</a>
          <div class="nav-collapse collapse">
            {% if current_user %}
            <p class="navbar-text pull-right">
                <a href="/logout">Logout</a>
            </p>
            {% else %}
            <p class="navbar-text pull-right">
                <!--<noscript>
                  <a href="/login">{{ _('Login') }}</a>
                </noscript>
                <a id="divLogin" href="/loginmodal" data-toggle="modal" style="display: none">{{ _('Login') }}</a> -->
                <a href="{{ '/login?next=' + url_escape(request.uri) }}">Login</a>
            </p>
            {% end %}
            <ul class="nav nav-tabs">
              <li id="campaigns_tab" class="">
                <a href="/">Campaigns</a>
              </li>
              <li id="fundraiser_tab" class="">
                <a href="/">Fundraiser</a>
              </li>
              <li id="petition_tab" class="">
                <a href="/">Petition</a>
              </li>
              <li id="grouppurchase_tab" class="">
                <a href="/">Group Purchase</a>
              </li>
              {% if current_user and current_user['rank'] in ('staff', 'admin') %}
              <li id="admin_tab" class="">
                <a href="/admin">Admin Panel</a>
              </li>
              {% end %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% block body %}
    {% end %}
    <script type="text/javascript" src="{{ static_url("js/vendor/jquery-1.9.1.min.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/vendor/bootstrap.min.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/vendor/bootstrap-datetimepicker.min.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/vendor/modernizr-2.6.2-respond-1.1.0.min.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/bounty.js") }}"></script>
    {% block extra_js %}
    {% end %}
  </body>
</html>