<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Bounty{% end %}</title>
    <link rel="stylesheet" href="{{ static_url("css/vendor/bootstrap.min_original.css") }}" type="text/css">
    <link rel="stylesheet" href="{{ static_url("css/vendor/bootstrap-datetimepicker.min.css") }}" type="text/css">
    <link rel="stylesheet" href="{{ static_url("css/bounty.css") }}" type="text/css">

  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Bounty</a>
          <div class="nav-collapse collapse">
            {% if current_user %}
            <p class="navbar-text pull-right">
                <a href="/logout">Logout</a>
            </p>
            {% else %}
            <p class="navbar-text pull-right">
                <!--<noscript>
                  <a href="/login">{{ _('Login') }}</a>
                </noscript>
                <a id="divLogin" href="/loginmodal" data-toggle="modal" style="display: none">{{ _('Login') }}</a> -->
                <a href="{{ '/login?next=' + url_escape(request.uri) }}">Login</a>
            </p>
            {% end %}
            <ul class="nav">
              <li class="">
                <a href="/">Categories</a>
              </li>
              {% if current_user['rank'] in ('staff', 'admin') %}
              <li class="">
                <a href="/admin">Admin Panel</a>
              </li>
              {% end %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% block body %}
    {% end %}
    <script type="text/javascript" src="{{ static_url("js/vendor/jquery-1.9.1.min.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/vendor/bootstrap.min.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/vendor/bootstrap-datetimepicker.min.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/bounty.js") }}"></script>
    {% block extra_js %}
    {% end %}
  </body>
</html>