{% extends "base.html" %}

{% block title %}Welcome to Bounty{% end %}

{% block body %}

        <div id="campaign_container" class="campaigns">

        <h2>All</h2>
        <hr>

            {% for i, fundraiser in enumerate(recent) %}
            <div class="campaign">
                <div class="title">
                    <a href="/fundraiser/{{fundraiser['slug']}}">{{ fundraiser['title'] }}</a>
                </div>
                <div class="tail">
                    {% if fundraiser['type'] == 'Fundraiser' %}
                    <i class="icon-user"></i> <strong>{{ fundraiser['backers_count'] }}</strong> donors
                    {% elif fundraiser['type'] == 'Group Purchase' %}
                    <i class="icon-shopping-cart"></i> <strong>{{ fundraiser['backers_count'] }}</strong> backers
                    {% elif fundraiser['type'] == 'Petition' %}
                    <i class="icon-pencil"></i> <strong>{{ fundraiser['backers_count'] }}</strong> signatories
                    {% end %}
                    {% if fundraiser['status'] == 'Finished '%}
                    <i class="icon-stop"></i> <strong>Finished</strong>
                    {% end %}
                    <a href="/fundraiser/{{fundraiser['slug']}}" class="btn btn-small pull-right">Read more <i class="icon-chevron-right"></i></a>
                </div>
            </div>
            {% end %}
        </div>

<div class="row">
    {% module Paginator(page, page_size, total) %}
</div>
{% end %}