{% extends "base.html" %}

{% block title %}Welcome to Bounty{% end %}

{% block body %}
<div class="row">
    <div class="span6 offset2">
        <h1>Welcome</h1>
        <p>Welcome to Bounty, the crowd source funding platform of the Australia Pirate Party.</p>
    </div>
</div>
<div class="row">
    <div class="span6 offset2">
        <h3>Recently launched Fundraisers</h3>
        {% for i, fundraiser in enumerate(recent) %}
            <h2><a href="/fundraiser/{{fundraiser['slug']}}">{{ fundraiser['title'] }}</a></h2>
        {% end %}
    </div>
</div>
{% end %}